* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    font-family: Jost, sans-serif;
}
body {
    max-width: calc(100% - 400px);
    min-height: 100vh;
    margin: auto;
    font-family: Jost, sans-serif;
    position: relative;
    background-color: #261F47;
    color: #FFFFFF;
    font-size: 15px;
}

.alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem}.alert-heading{color:inherit}.alert-link{font-weight:700}.alert-dismissible{padding-right:4rem}.alert-dismissible .close{position:absolute;top:0;right:0;padding:.75rem 1.25rem;color:inherit}.alert-primary{color:#004085;background-color:#cce5ff;border-color:#b8daff}.alert-primary hr{border-top-color:#9fcdff}.alert-primary .alert-link{color:#002752}.alert-secondary{color:#383d41;background-color:#e2e3e5;border-color:#d6d8db}.alert-secondary hr{border-top-color:#c8cbcf}.alert-secondary .alert-link{color:#202326}.alert-success{color:#155724;background-color:#d4edda;border-color:#c3e6cb}.alert-success hr{border-top-color:#b1dfbb}.alert-success .alert-link{color:#0b2e13}.alert-info{color:#0c5460;background-color:#d1ecf1;border-color:#bee5eb}.alert-info hr{border-top-color:#abdde5}.alert-info .alert-link{color:#062c33}.alert-warning{color:#856404;background-color:#fff3cd;border-color:#ffeeba}.alert-warning hr{border-top-color:#ffe8a1}.alert-warning .alert-link{color:#533f03}.alert-danger{color:#721c24;background-color:#f8d7da;border-color:#f5c6cb}.alert-danger hr{border-top-color:#f1b0b7}.alert-danger .alert-link{color:#491217}.alert-light{color:#818182;background-color:#fefefe;border-color:#fdfdfe}.alert-light hr{border-top-color:#ececf6}.alert-light .alert-link{color:#686868}.alert-dark{color:#1b1e21;background-color:#d6d8d9;border-color:#c6c8ca}.alert-dark hr{border-top-color:#b9bbbe}.alert-dark .alert-link{color:#040505}

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  20% { transform: translate(0px, 0px) rotate(-1deg); }
  40% { transform: translate(-1px, -1px) rotate(0deg); }
  60% { transform: translate(0px, 0px) rotate(1deg); }
  80% { transform: translate(1px, 1px) rotate(0deg); }
  90% { transform: translate(0px, 0px) rotate(-1deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

.loading {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #312A50;
  width: 10px;
  height: 10px;
  margin: 0 5.5px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    width: 8px;
    }
    ::-webkit-scrollbar-track {
    background: #312A50;
    }
    ::-webkit-scrollbar-thumb {
    background: #595178;
    border-radius: 4px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCCCCC;
    opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CCCCCC;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
    color: #CCCCCC;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
}

.switch {
    width: 40px;
    height: 20px;
    position: relative;
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    }
    input:checked + .switch-slider {
    background-color: #EC609D;
    }
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    .switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #261F47;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    }
    .switch-slider:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 3px;
    top: 2.4px;
    background-color: #312A50;
    border-radius: 50%;
    transition: .5s;
    }
    /* .switch input:checked + .switch-slider:before {
    background: linear-gradient(to right, #B666D2, #EC609D);
    }
    .switch input:focus + .switch-slider:before {
    background: linear-gradient(to right, #B666D2, #EC609D);
    } */
    .switch input:checked + .switch-slider:before {
    transform: translateX(19px);
}

.delay-container {
    width: 550px;
    position: absolute;
    bottom: 8px;
    }
    .delay {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    margin: 19px 0 0 0;
    padding: 0;
    background: #261F47;
    outline: none;
    }
    .delay::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #261F47;
    cursor: pointer;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    }
    progress[value]::-webkit-progress-bar {
    background-color: #261F47;
    border-radius: 10px;
    }
    progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #B666D2, #EC609D);
    border-radius: 10px;
}

.white {
    color: #FFFFFF!important;
    }
    .green {
    background-color: #46716A;
    }
    .red {
    background-color: #A53333;
    }
    .orange {
    background-color: #D28E35;
}

.avatar-icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('images/Avatar.svg');
}

.group {
    display: inline-block;
    margin-left: 30px;
    text-align: center;
    }
    .group label {
    display: block;
    font-size: 10px;
    }
    .group span {
    display: block;
    font-size: 12px;
    color: #CCCCCC;
    }

a {
    text-decoration: none;
    }
    label {
    cursor: auto;
    }

.small-text {
    font-size: 10px;
}

.button {
    padding: 10px 20px;
    background: linear-gradient(to right, #B666D2, #EC609D);
    display: inline-block!important;
    border-radius: 25px;
    color: #FFFFFF!important;
    transition: .3s;
    }
    .button:hover {
    transform: scale(1.1);
    }
    .button:hover:not(.packages .button:hover) + .button-backdrop {
    padding: 2px;
    top: -40px;
    }
    .button img {
    vertical-align: middle
    }
    .button-backdrop {
    display: block;
    position: relative;
    top: -35px;
    margin: auto;
    border-radius: 25px;
    background: linear-gradient(to right, #B666D2, #EC609D);
    filter: blur(10px);
    opacity: 0.3;
    pointer-events: none;
    }

nav {
    margin: auto;
    padding: 20px 0;
    position: fixed;
    top: 3rem;
    }
    nav img {
    vertical-align: middle
    }
    .nav-center {
    margin-left: 200px;
    display: inline-block;
    }
    nav a  {
    color: white;
    margin-left: 50px;
    }
    nav a:first-child {
    margin-left: 0;
    }
    .nav-right {
    float: right;
    padding-top: 22px;
    }

#sidenav {
    width: 120px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -30px;
    text-align: center;
    }
    #sidenav a {
    display: block;
    color: #CCCCCC;
    transition: .2s;
    }
    #sidenav a:hover {
    color: #FFFFFF;
    }
    #sidenav .small-text {
    margin-top: 10px;
    }
    #sidenav a:not(.small-text) {
    margin-top: 40px;
    }

.pricing .package {
    width: 160px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    }
    .pricing .package span {
    font-weight: 700;
    text-align: center;
    }

#board {
    width: 1140px;
    height: 690px;
    position: relative;
    margin: 150px auto auto auto;
    padding: 30px;
    border-radius: 20px;
    background-color: #312A50;
    }
    .packages-link {
    font-size: 20px;
    display: inline-block;
    background: linear-gradient(to right, #B666D2, #EC609D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .2s;
    }
    .packages-link:hover {
    /* background: #f79ec5; */
    background: linear-gradient(to right, #fa82b7, #fa82b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .packages-link-image {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('images/ArrowRight.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    }
    .dashboard #board .statistics.right {
    float: right;
    }
    #board .statistics .group:first-child {
    margin-left: 0;
    }
    .board-bottom {
    width: calc(100% - 60px);
    position: absolute;
    bottom: 30px;
    color: #CCCCCC;
    font-size: 12px;
    }
    .board-bottom-right {
    width: 550px;
    position: relative;
    float: right;
    }
    .board-bottom .progress {
    width: 450px;
    position: absolute;
    bottom: 0;
    }
    .board-bottom .progress progress {
    margin-top: 10px;
    }
    .board-bottom .start {
    width: 75px;
    height: 70px;
    position: absolute;
    right: -10px;
    bottom: -35px;
    }
    .title {
    text-align: center;
    color: #CCCCCC;
    font-size: 20px;
    font-weight: 700;
    display: block;
    }
    #board .text {
    text-align: center;
    color: #CCCCCC;
    display: block;
    }
    #board .link {
    margin: auto;
    text-align: center;
    color: #CCCCCC;
    background-color: #312A50;
    display: table;
    padding: 10px 40px;
    border-radius: 20px;
    transition: .2s;
    }
    #board .link:hover {
    padding: 10px 44px;
    }
    #board .button-link {
    border: none;
    width: calc(100% - 20px);
    height: 100px;
    margin: auto;
    text-align: center;
    color: #CCCCCC;
    background-color: #312A50;
    display: table;
    margin-bottom: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    }
    #board .button-link:last-child {
    margin-bottom: 0;
    }
    #board #info-hidden {
    display: none;
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #312A50;
    color: #CCCCCC;
    }
    #board #back {
    display: none;
    cursor: pointer;
    color: #CCCCCC;
    margin-bottom: 30px;
    }
    #board #back img {
    margin-right: 10px;
    vertical-align: sub;
    }

    #board .package {
    width: 160px;
    height: 80px;
    padding: 20px;
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    display: inline-block;
    margin: 20px 77px 110px 77px;
    text-align: center;
    }
    #board .package:hover {
    animation: shake 4s;
    animation-iteration-count: infinite;
    }
    #board .package span {
    display: block;
    }
    #board .package-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    }

    textarea {
    width: 510px;
    height: 220px;
    margin-top: 30px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    resize: none;
    background-color: #261F47;
    color: #CCCCCC;
    font-size: 12px;
    font-family: Jost, sans-serif;
    outline: none;
    }

    input {
    width: 60px;
    padding: 0 20px;
    height: 40px;
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    background-color: #261F47;
    color: #CCCCCC;
    font-size: 12px;
    outline: none;
    font-family: Jost, sans-serif;
    }
    .search {
    width: calc(100% - 150px);
    background-color: #312A50;
    margin: 0;
    }
    .table-empty button {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    }
    .table-empty input {
    width: calc(100% - 30px);
    }

    #blacklist-list {
    display: contents;
    }
    #blacklist-list .submit-button {
    position: absolute;
    bottom: 30px;
    /* left: 0;
    right: 0; */
    margin: auto auto auto 210px;
    }

.dm_panel_122_table .actions .btn{
    display: inline-block;
    font-size: .8rem;
    margin: 0 0 0 .5rem;
    padding: .2rem .3rem;
}

.icon_name_side{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0 0 1rem;
}
.icon_name_side a{
    max-width: 90px;
    overflow: hidden;
    display: inline-block;
    /* white-space: pre; */
    margin: auto 0;
}

    #blacklist-settings {
    display: none;
    color: #CCCCCC;
    }
    #blacklist-settings .method {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    line-height: 40px;
    font-size: 12px;
    }
    #blacklist-settings .method:last-child {
    margin-bottom: 0;
    }
    #blacklist-settings input{
        width: 250px !important;
        box-sizing: border-box;
    }
    #blacklist-settings input[type='text'], #blacklist-settings .input-file {
    float: right;
    }
    #blacklist-settings input[type='text'] {
    margin: 0;
    background-color: #312A50;
    }
    #blacklist-settings input[type='file'] {
    display: none;
    }
    #blacklist-settings .input-file {
    display: table-cell;
    width: 250px !important;
    height: 40px;
    background-color: #312A50;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle
    }

    .settings {
    font-size: 12px;
    color: #CCCCCC;
    }
    .settings .setting {
    display: block;
    margin-top: 55px;
    }
    .setting input[type='number'] {
    height: 25px;
    text-align: center;
    }
    .settings .setting:first-child {
    /* margin-top: 30px; */
    }

    .submit-button {
    border: none;
    margin-top: 7.5px;
    padding: 5px 10px;
    border-radius: 20px;
    color: #FFFFFF;
    float: right;
    cursor: pointer;
    transition: .2s;
    }
    .submit-button:hover {
    padding: 6px 11px;
    }

    .table {
    display: block;
    padding: 30px;
    position: relative;
    margin-top: 30px;
    background-color: #261F47;
    border-radius: 20px;
    }

    table {
    width: 100%;
    height: 100%;
    display: block;
    border-spacing: 0;
    }
    thead tr {
    height: 40px;
    }
    thead th {
    width: 212px;
    display: inline-table;
    font-weight: 400;
    }
    tbody {
    width: calc(100% + 20px);
    height: calc(100% - 10px);
    display: block;
    overflow: auto;
    }
    tbody tr {
    width: calc(100% - 10px);
    height: 50px;
    display: inline-table;
    border-radius: 10px;
    transition: .3s;
    }
    tbody tr:nth-child(odd) {
    background-color: #312A50;
    }
    tbody td {
    width: 216px;
    text-align: center;
    font-size: 12px;
    color: #CCCCCC;
    }
    tbody td img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    }
    tbody span, tbody a, tbody button {
    padding: 5px 10px;
    border-radius: 20px;
    color: #FFFFFF;
    }
    tbody button {
    cursor: pointer;
    border: none;
    transition: .3s;
    }
    tbody button:hover {
    transform: scale(1.05);
    }
    tbody button:first-child {
    margin-right: 10px;
    }
    tbody .button {
    padding: 5px 20px;
    transition: .2s;
    }

    body.blur{
        filter: blur(10px);
    }

.bottom {
    margin: 30px 0 25px 0;
    text-align:center;
    }

    .loadingPanel{
        position: relative;
    }

    .loadingLogo{
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        /* background-color: rgba(0, 0, 0, 0.658); */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transform: scale(0);
        /* transform: translateX(-100%); */
        transition: .5s;
        opacity: 0;
    }
    
    .loadingPanel.active .loadingLogo{
        /* transform: translateX(0); */
        transform: scale(1);
        opacity: 1;
    }
    
    .loadingLogo span{
        font-size: 2rem;
        color: #fff;
        transform: scale(1);
        animation: roll 2.5s linear 0s infinite;
    }
    
    @keyframes roll{
        from, to{
            transform: scale(1);
        }
        50%{
            transform: scale(1.5);
        }
    }

    .loadingPanel.active :not(.loadingLogo, .loadingLogo span, .loadingLogo img){
        filter: blur(4px);
        cursor: none;
    }

    .popup{
        position: fixed;
        top: 2rem;
        /* width: 100%; */
        max-width: 300px;
        right: 25rem;
        background: linear-gradient(to right, #B666D2, #EC609D);
        color: #fff;
        padding: 1rem 2rem;
        border-radius: .5rem;
        transition: .5s;
        transform: translateY(calc(-100% + -2rem));
        z-index: 12;
    }
    .popup.active{
        transform: translateY(0px);
    }

    .popup p{
        margin: 0;
        /* text-align: center; */
        line-height: 1.5rem;
    }
    .popup .close{
        float: right;
        margin-bottom: .5rem;
        cursor: pointer;
    }

tbody tr.selected {
    background-color: rgb(193 71 137);
}


#server{
    height: 100%;
    position: relative;
    z-index: 2;
}

#server .detail_head{
    text-align: center;
}
#server .detail_head .title{
    font-size: 3rem;
    margin: 0;
    margin-bottom: .1rem;
    color: #fff;
    line-height: 3rem;
}
#server .detail_head p.users{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
    opacity: .6;
    /* line-height: 2.5rem; */
}
#server .detail_head input{
    width: 100%;
    max-width: 400px;
}

#server .table table td{
    width: 150px;
    /* text-align: left; */
}
#server .table table th {
    width: 180px;
    text-align: center;
}
#server .table table td:nth-child(5),
#server .table table th:nth-child(5){
    width: 300px;
}

#server .table{
    height: 350px;
}
#server .table .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: .5rem;
}
#server .table .actions .btn{
    margin: 0;
    margin-left: 1rem;
    font-size: .8rem;
}

.btn {
    display: block;
    background-color: rgb(9, 72, 124);
    color: #fff;
    padding: .375rem .75rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
}
.btn.btn-danger{
    background-color: rgb(202, 26, 26);
}
.btn.btn-muted{
    background-color: #261F47;
}
.btn.btn-teal{
    background-color: #467268;
}

.btn:hover {
    background-color: rgb(6, 58, 100);
    padding: .375rem .75rem;
    transform: scale(1.05);
}
.btn.btn-danger:hover{
    background-color: rgb(179, 14, 14);
}
.btn.btn-muted:hover{
    background-color: #1f183d;
}
.btn.btn-teal:hover{
    background-color: #325c52;
}

.bottom-options{
    text-align: center;
    max-width: 500px;
    margin: 1rem auto;
}
.bottom-options .btn{
    margin: 0 .5rem;
}
.bottom-options .options{
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal_box h4{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}
.modal_box{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #312A50;
    width: 250px;
    border-radius: 30px;
    padding: 1rem;
    transform: translate(0, -50%);
    z-index: 1;
    opacity: 0;
    transition: .3s;
}
.modal_box.active{
    transform: translate(120%, -50%);
    opacity: 1;
}
#blacklistbox .inner{
    background-color: #261F47;
    padding: .1rem .5rem .5rem .5rem;
    margin: 1rem 0;
    border-radius: .5rem;
    max-height: 200px;
    overflow-x: hidden;
}
#blacklistbox .inner .item{
    background-color: #312A50;
    padding: .7rem;
    margin: .5rem 0 0 0;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
#blacklistbox .inner .item.selected{
    background-color: rgb(193 71 137);
}
#blacklistbox .inner .item p{
    margin: 0;
}
#blacklistbox .inner .item span.select_blacklist{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #467268;
    cursor: pointer;
}
.modal_box .options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;
}
.modal_box .options .btn{
    min-width: 100px;
}

.modal_box .form-item{
    margin: 2rem 0;
}


.slides table{
    max-height: 150px;
    overflow-y: scroll;
    padding: 0 !important;
    overflow-x: hidden;
    margin-top: 1rem;
}
#slide2{
    display: none;
    position: relative;
}
#slide2 h4{
    margin-top: 0;
    text-align: center;
    font-size: 1.4rem;
}
#slide2 tbody td.manage_select{
    width: 50px;
}
#slide2 tbody td.icon_name_side{
    padding: 0;
}
#slide2 table{
    position: relative;
    z-index: 2;
}

#manage_server_box{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #312A50;
    width: 250px;
    border-radius: 30px;
    padding: 1rem;
    transform: translate(0, -50%);
    z-index: 1;
    opacity: 0;
    transition: .3s;
}
#manage_server_box.active{
    transform: translate(130%, -50%);
    opacity: 1;
}

#manage_server_box .options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.manage_select span{
    width: 15px;
    min-height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    padding: 0;
    transition: .3s;
}
.manage_select span.active{
    background-color: #a255be;
}
#manageServers{
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: .8rem;
}



/* Admin panel add form */
#board.panel{
    overflow-x: hidden;
    padding: 1rem;
}
#board .add_form{
    box-sizing: border-box;
    max-width: 400px;
    margin: 1rem auto;
    text-align: center;
}
.add_form .legend{
    font-size: 2rem;
    margin-bottom: 0rem;
}

.nameless_errors{
    margin: 2rem 0;
}
.nameless_errors p{
    padding: .5rem;
    border-radius: .3rem;
    background-color: rgb(223, 39, 39);
    margin-top: 0;
}

.form-item{
    margin-bottom: 1.5rem;
    text-align: left;
}
.form-item label{
    margin-left: 1.5rem;
}
.form-item .error-text{
    margin-left: 1.5rem;
}
.form-item input{
    display: block;
    width: 100%;
    box-sizing: border-box !important;
    margin: 0;
    margin-top: .5rem;
}
.form-item input[type='file']{
    padding: 0;
    border-radius: .3rem;
    font-size: 1rem;
    height: auto;
    padding: .6rem;
}
.add_form form{
    margin: 2rem 0;
}
.error-text{
    color: rgb(223, 39, 39);
    margin-top: .3rem;
    display: block;
}
.fsubmit-btn{
    display: block;
    width: 100%;
    font-size: 1.1rem;
    margin: 0;
    border-radius: .3rem;
    padding: .7rem 1rem;
    background: linear-gradient(to right, #B666D2, #EC609D);
    background-size: 200%;
    background-position-x: left;
}
.fsubmit-btn:hover{
    transform: none;
    padding: .7rem 1rem;
    background-color: #EC609D;
    background-position-x: right;
}
.or_text{
    margin: 2rem 0;
}

.double_label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#eye_visible{
    color: #595178;
    transition: .3s;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1rem;
}
#eye_visible.active{
    color: #fff;
}